
<h1>Hello World!!</h1>
<button onclick="mostrar()">Presionar</button>
<div id="primerMensaje" style="display: none">
  <h3>Mensaje oculto</h3>
</div>
<button onclick="cambiarPantalla()">Cambiar página</button>
<button onclick="users()">Users</button>

